.header-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;


    background:no-repeat 0% 0%/cover url('../assets/images/backgrounds/vagetables.jpg');
    background-color: #F1EFF0;
}

.header-main h2{
    color: #274C5B;
    font-weight: 800;
    font-size: 52px;
    line-height: 64px;

}